SinbodaSemiAuto/.vs/
SinbodaSemiAuto/Assistance/bin/
SinbodaSemiAuto/Assistance/obj/
SinbodaSemiAuto/Sinboda.Framework.Business.SystemAlarm/bin/
SinbodaSemiAuto/Sinboda.Framework.Business.SystemAlarm/obj/
SinbodaSemiAuto/Sinboda.Framework.Business.SystemManagement/bin/
SinbodaSemiAuto/Sinboda.Framework.Business.SystemManagement/obj/
SinbodaSemiAuto/Sinboda.Framework.Business.SystemSetup/bin/
SinbodaSemiAuto/Sinboda.Framework.Business.SystemSetup/obj/
SinbodaSemiAuto/Sinboda.Framework.Common/bin/
SinbodaSemiAuto/Sinboda.Framework.Common/obj/
SinbodaSemiAuto/Sinboda.Framework.Communication/bin/
SinbodaSemiAuto/Sinboda.Framework.Communication/obj/
SinbodaSemiAuto/Sinboda.Framework.Control/bin/
SinbodaSemiAuto/Sinboda.Framework.Control/obj/
SinbodaSemiAuto/Sinboda.Framework.Core/bin/
SinbodaSemiAuto/Sinboda.Framework.Core/obj/
SinbodaSemiAuto/Sinboda.Framework.Infrastructure/bin/
SinbodaSemiAuto/Sinboda.Framework.Infrastructure/obj/
SinbodaSemiAuto/Sinboda.Framework.LIS/bin/
SinbodaSemiAuto/Sinboda.Framework.MainWindow.Blue/bin/
SinbodaSemiAuto/Sinboda.Framework.MainWindow.Blue/obj/
SinbodaSemiAuto/Sinboda.Framework.Print/bin/
SinbodaSemiAuto/Sinboda.Framework.View.SystemAlarm/bin/
SinbodaSemiAuto/Sinboda.Framework.View.SystemManagement/bin/
SinbodaSemiAuto/Sinboda.Framework.View.SystemManagement/obj/
SinbodaSemiAuto/Sinboda.Framework.View.SystemSetup/bin/
SinbodaSemiAuto/Sinboda.Framework.View.SystemSetup/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.Business.Items/bin/
SinbodaSemiAuto/Sinboda.SemiAuto.Business.Items/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.View.MachineryDebug/obj/
SinbodaSemiAuto/Sinboda.Framework.LIS/obj/
SinbodaSemiAuto/Sinboda.Framework.Print/obj/
SinbodaSemiAuto/Sinboda.Framework.View.SystemAlarm/obj/
SinbodaSemiAuto/Sinboda.MultiModule.View.PageView.AboutView/bin/
SinbodaSemiAuto/Sinboda.MultiModule.View.PageView.AboutView/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.Business.Items/.vs/
SinbodaSemiAuto/Sinboda.SemiAuto.Business.Samples/.vs/
SinbodaSemiAuto/Sinboda.SemiAuto.Business.Samples/bin/
SinbodaSemiAuto/Sinboda.SemiAuto.Business.Samples/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.Core/.vs/
SinbodaSemiAuto/Sinboda.SemiAuto.Core/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.Model/bin/
SinbodaSemiAuto/Sinboda.SemiAuto.Model/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.View.Results/bin/
SinbodaSemiAuto/Sinboda.SemiAuto.View.Results/obj/
SinbodaSemiAuto/Sinboda.SemiAuto.View.Samples/bin/
SinbodaSemiAuto/Sinboda.SemiAuto.View.Samples/obj/
SinbodaSemiAuto/Sinboda.Theme.Blue/bin/
SinbodaSemiAuto/Sinboda.Theme.Blue/obj/
SinbodaSemiAuto/SinbodaSemiAuto/bin/
SinbodaSemiAuto/SinbodaSemiAuto/obj/
Release/
Debug/
.vs/
