<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
		<section name="modules" type="Sinboda.Framework.Infrastructure.Configurations.ModulesConfigurationSection, Sinboda.Framework.Infrastructure" />
		<section name="regions" type="Sinboda.Framework.Infrastructure.Configurations.RegionsConfigurationSection, Sinboda.Framework.Infrastructure" />
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

	</configSections>
	<modules>

		<!--系统管理模块-->
		<module assemblyFile="Sinboda.Framework.View.SystemManagement.dll" moduleType="Sinboda.Framework.View.SystemManagement.InitializeModule" />
		<!--报警模块-->
		<module assemblyFile="Sinboda.Framework.View.SystemAlarm.dll" moduleType="Sinboda.Framework.View.SystemAlarm.InitializeModule" />
		<!--打印模块-->
		<module assemblyFile="Sinboda.Framework.Print.dll" moduleType="Sinboda.Framework.Print.InitializeModule" />
		<!--设置模块-->
		<module assemblyFile="Sinboda.Framework.View.SystemSetup.dll" moduleType="Sinboda.Framework.View.SystemSetup.InitializeModule" />
		<!--核心模块-->
		<module assemblyFile="Sinboda.SemiAuto.Core.dll" moduleType="Sinboda.SemiAuto.Core.InitializeModule" />
		<!--关于-->
		<module assemblyFile="Sinboda.SemiAuto.View.dll" moduleType="Sinboda.SemiAuto.View.InitializeModule" />
		<!--样本模块-->
		<module assemblyFile="Sinboda.SemiAuto.View.Samples.dll" moduleType="Sinboda.SemiAuto.View.Samples.InitializeModule" />
		<!--结果模块-->
		<module assemblyFile="Sinboda.SemiAuto.View.Results.dll" moduleType="Sinboda.SemiAuto.View.Results.InitializeModule" />
		<!--调试模块-->
		<module assemblyFile="Sinboda.SemiAuto.View.MachineryDebug.dll" moduleType="Sinboda.SemiAuto.View.MachineryDebug.InitializeModule" />
	</modules>
	<!--主窗体布局配置-->
	<!--top_btns, left, home, right, bottom-->
	<regions>
		<!--核心功能菜单 类型为 ItemsControl 时带默认样式-->
		<region regionName="top_btns" searchRange="All" assemblyFile="Sinboda.Framework.MainWindow.Blue.dll" viewType="Sinboda.Framework.MainWindow.Blue.Views.Buttons" />
		<!--左侧自定义区-->
		<!--<region regionName="left" assemblyFile="MvvmLight.View.dll" viewType="MvvmLight.View.PageView.Page1"/>-->
		<!--主页自定义区-->
		<!--<region regionName="home" assemblyFile="MvvmLight.View.dll" viewType="MvvmLight.View.PageView.PageA" />-->
		<!--右侧自定义区-->
		<!--<region regionName="right" assemblyFile="MvvmLight.View.dll" viewType="MvvmLight.View.PageView.Page2"/>-->
		<!--底部自定义区-->
		<region regionName="bottom" searchRange="All" assemblyFile="Sinboda.Framework.MainWindow.Blue.dll" viewType="Sinboda.Framework.MainWindow.Blue.Views.MultiModuleBottomRange" />
		<!--关于自定义区-->
		<region regionName="about" assemblyFile="Sinboda.SemiAuto.View.dll" viewType="Sinboda.SemiAuto.View.PageView.AboutView" />
	</regions>
	<!--Autofac 配置-->
	<autofac>
		<components>
			<component type="Sinboda.Framework.Infrastructure.ConfigurationModuleLoader, Sinboda.Framework.Infrastructure" service="Sinboda.Framework.Infrastructure.IModuleInfoLoader, Sinboda.Framework.Infrastructure" />
			<component type="Sinboda.Framework.Infrastructure.ConfigurationRegionLoader, Sinboda.Framework.Infrastructure" service="Sinboda.Framework.Infrastructure.IRegionLoader, Sinboda.Framework.Infrastructure" />
			<component type="Sinboda.Framework.Infrastructure.ModuleManager, Sinboda.Framework.Infrastructure" service="Sinboda.Framework.Infrastructure.IModuleManager, Sinboda.Framework.Infrastructure" />
			<component type="Sinboda.Framework.Infrastructure.RegionCatalog, Sinboda.Framework.Infrastructure" service="Sinboda.Framework.Infrastructure.IRegionCatalog, Sinboda.Framework.Infrastructure" />
			<component type="Sinboda.Framework.MainWindow.Blue.DbMenuItemLoader, Sinboda.Framework.MainWindow.Blue" service="Sinboda.Framework.Infrastructure.IMenuItemLoader, Sinboda.Framework.Infrastructure" />
			<!--<component type="Sinboda.Framework.Infrastructure.ModuleManageMenuItemLoader, Sinboda.Framework.Infrastructure" service="Sinboda.Framework.Infrastructure.IMenuItemLoader, Sinboda.Framework.Infrastructure" />-->
			<!--数据库实例化与预热接口-->
			<!--<component type="Sinboda.Framework.Core.Services.DbContextInitializeService, Sinboda.Framework.Core" service="Sinboda.Framework.Core.Interface.IDbContextInitialize, Sinboda.Framework.Core"/>-->
			<!--<component type="MvvmLight.Model.MvvmDbContextInitializeService, MvvmLight.Model" service="Sinboda.Framework.Core.Interface.IDbContextInitialize, Sinboda.Framework.Core" />-->
			<!-- 当前软件是否为多模块联机接口处理 -->
			<component type="Sinboda.Framework.Core.Services.GetIsMultiModules, Sinboda.Framework.Core" service="Sinboda.Framework.Core.Services.IGetIsMultiModules, Sinboda.Framework.Core" />
			<component type="Sinboda.SemiAuto.Model.SinDbContextInitialize, Sinboda.SemiAuto.Model" service="Sinboda.Framework.Core.Interface.IDbContextInitialize, Sinboda.Framework.Core" />
		</components>
	</autofac>
	<entityFramework>
		<providers>
			<provider invariantName="FirebirdSql.Data.FirebirdClient" type="EntityFramework.Firebird.FbProviderServices, EntityFramework.Firebird" />
			<provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<provider invariantName="System.Data.SQLite" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
			<!--<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />-->
			<!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
		</providers>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
	</entityFramework>
	<system.data>
		<DbProviderFactories>
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
			<!--<add name="Npgsql Data Provider" invariant="Npgsql" description="Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />-->
			<remove invariant="System.Data.SQLite.EF6" />
			<add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
			<remove invariant="System.Data.SQLite" />
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
		</DbProviderFactories>
	</system.data>
	<!--数据库连接字符串-->
	<connectionStrings>
		<!--单机连接数据库方式（Firebird）-->
		<!--<add name="DBConnectionStr" connectionString="ServerType=1;User=SYSDBA;Password=masterkey;DataBase=PlatForm.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;" providerName="FirebirdSql.Data.FirebirdClient" />-->
		<!--服务连接数据库方式（Firebird）-->
		<add name="DBConnectionStr" connectionString="ServerType=0;User=SYSDBA;Password=masterkey;DataBase=SINBODA001.FDB;DataSource=localhost;Port=3050;Dialect=3;Charset=NONE;Role=;Connection lifetime=15;Pooling=true;MinPoolSize=0;MaxPoolSize=50;Packet Size=8192;" providerName="FirebirdSql.Data.FirebirdClient" />
		<!--服务连接数据库方式（postgresql）-->
		<!--<add name="DBConnectionStr" connectionString="Server=localhost;Port=5432;Database=PlatForm; User Id=postgres;Password=1;" providerName="Npgsql" />-->

		<!--服务连接数据库方式（sqlserver）-->
		<!--<add name="DBConnectionStr" connectionString="Server=localhost;Database=platform; User Id=dr;Password=dr123,./" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>