<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net-net-1.0"/>
  </configSections>
  <log4net>
    <!-- 上位机日志 -->
    <logger name="logSoftWare">
      <level value="ALL" />
      <appender-ref ref="SoftWareAppender"/>
    </logger>
    <!-- 上位机日志附加介质 -->
    <appender name="SoftWareAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\SoftWare\\" />
      <param name="Encoding" value="unicode" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="MaxSizeRollBackups" value="100" />
      <MaximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!-- 布局 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d%    %m%n"  />
      </layout>
    </appender>

    <!-- 通讯日志 -->
    <logger name="logCommunication">
      <level value="ALL" />
      <appender-ref ref="CommunicationAppender"/>
    </logger>
    <!-- 下位机日志附加介质 -->
    <appender name="CommunicationAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\Communication\\" />
      <param name="Encoding" value="unicode" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="MaxSizeRollBackups" value="100" />
      <MaximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!-- 布局 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d%    %m%n"/>
      </layout>
    </appender>
    
    <!-- 上位机数据脚本日志 -->
    <logger name="logSoftWareSQL">
      <level value="ALL" />
      <appender-ref ref="SoftWareSQLAppender"/>
    </logger>
    <!-- 上位机数据脚本日志附加介质 -->
    <appender name="SoftWareSQLAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\SoftWareSQL\\" />
      <param name="Encoding" value="unicode" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="MaxSizeRollBackups" value="100" />
      <MaximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!-- 布局 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d%    %m%n"  />
      </layout>
    </appender>

    <!-- 与Lis通讯日志 -->
    <logger name="logLisComm">
      <level value="ALL" />
      <appender-ref ref="LisCommAppender"/>
    </logger>
    <!-- 与Lis通讯日志附加介质 -->
    <appender name="LisCommAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\LISComm\\" />
      <param name="Encoding" value="unicode" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="MaxSizeRollBackups" value="100" />
      <MaximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!--布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d%    %m%n"/>
      </layout>
    </appender>
        
    <!-- 下位机日志 -->
    <logger name="logAnalyzer">
      <level value="ALL" />
      <appender-ref ref="AnalyzerAppender"/>
    </logger>
    <!-- 下位机日志附加介质 -->
    <appender name="AnalyzerAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\Analyzer\\" />
      <param name="Encoding" value="unicode" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="MaxSizeRollBackups" value="100" />
      <MaximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <!-- 布局 -->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d%    %m%n"/>
      </layout>
    </appender>

    <!--调试报警-->
    <logger name="debugAlarm">
      <level value="ALL" />
      <appender-ref ref="DebugAlarmAppender"/>
    </logger>
    <appender name="DebugAlarmAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log\\DebugAlarm\\" />
      <param name="Encoding" value="unicode" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="MaxSizeRollBackups" value="100" />
      <MaximumFileSize value="10MB" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d%    %m%n"/>
      </layout>
    </appender>
   
  </log4net>
</configuration>